html{
    max-height: 2144px;
    max-width: 1440px;
    margin: 0px;
}

body{
    width: 1440px;
    height: 2144px;
}

/*fundo*/

.ocre{
    width: 50%;
    height: 750px;
    background-color:#F7B32B;
    position: absolute;
    top: 0px;
    left: 0px;
}

.azul{
    width: 50%;
    height: 750px;
    background-color: #040F1C;
    position: absolute;
    top: 0px;
    right: 0px;
}

.fundo-circulo-branco{
    background-color: white;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 220px;
    left: 560px;
}

.moldura-img{
    width:500px;
    height: 930px;
    position: absolute;
    top: 0px;
    left:463px;
}

.imagem-do-fundo{
    width: 100%;
    margin: 0px;
}

.rectangulo-parte-1{
    border: 3px solid white;
    border-right: 0px;
    border-bottom: 0px;
    width: 400px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 180px
}

.rectangulo-parte-2{
    border: 3px solid white;
    border-right: 0px;
    border-top: 0px;
    width: 400px;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 190px
}

/*Titulo*/

.titulo-grande{
    position: relative;
    width: 70%;
    height: 700px;
    top: 40px;
    left: 55px;
}

.tower-power-like{
    border: 4px solid white;
    border-right: 0px;
    font-size: 90px;
    text-align: center;
    font-family: 'Barrio';
    padding: 80px;
    margin: 10px;
    color: white;
    
        
}

.titulo-escondido{
    box-shadow: 0px 0px 40px 0px #fff;
    width: 400px;
    height: 80px;
    position:absolute;
    bottom:20px;
    right: 130px;
    cursor: pointer; 
}

.tower-power-titulo{
    color: #040F1C ;
    text-align: center;
    font-family: 'Barrio';
    font-size: 50px;
    margin: 15px;
    cursor: pointer;
}

/*informaçao*/

.informacao-tower-power{
    width: 400px;
    height: 330px;
    position: absolute;
    right: 130px;
    top: 200px;

}

.texto-tower-power{
    color: white;
    text-align: center;
    right: 40px;
    bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 14.9px;
}